<!DOCTYPE html>
<html>
  <head>
    <title>Csfair</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id="app"></div>
    <script src="/assets/application.js"></script>
  </body>
</html>
